<!DOCTYPE HTML>

<html>
	<head>
		<style>
			.intro{
				font-weight: 100px;
				font-size: 30px;
			}
		</style>
		<title>About</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets_about/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets_about/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<h1>Everything you need to know!</h1>
				<nav>
					<ul>
						<li><a href="#intro">Intro</a></li>
						<li><a href="#one">Ticker?</a></li>
						<li><a href="#two">Timer?</a></li>
						<li><a href="#work">Motivation?</a></li>
					</ul>
				</nav>
			</header>

		<!-- Intro -->
			<section id="intro" class="main style1 dark fullscreen">
				<div class="content">
					<header>
						<h2>Hey.</h2>
					</header>
						<p>Welcome to <strong>Focus Mode</strong> an app that helps you stay focused on the important things in life.<br />
						Stay focused whenever, wherever<br>
						Working at office? Studying at library? Playing games?
						</p>
						<h1 class="intro">Keep track of everything you do!<br>&<br>Focus 100%!</h1>
					<footer>
						<a href="#one" class="button style2 down">More</a>
					</footer>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="main style2 right dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>Ticker?</h2>
					</header>
					<p>A Ticker is like a stop-watch that would help you track the amount of time you spend watching the screen or do other activities.</p>
				</div>
				<a href="#two" class="button style2 down anchored">Next</a>
			</section>

		<!-- Two -->
			<section id="two" class="main style2 left dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>Timer?</h2>
					</header>
					<p>A Timer would help you stay focused for 30 minutes in any activity you are involved in.</p>
				</div>
				<a href="#work" class="button style2 down anchored">Next</a>
			</section>

		<!-- Work -->
			<section id="work" class="main style3 primary">
				<div class="content">
					<header>
						<h2>Motivation</h2>
						<p>If you want to achieve greatness, you need to stop asking for permission. This is why motivation is important in life because it stops asking questions and aligns you to work towards your goals.<br>

Goals are the stepping stones toward your dreams so in order to achieve them, you need motivation to keep you chugging along towards them.<br>

Not everyone is born with motivation. There is a severe lack in some who believe ‘I’ll get to that one day’ or ‘the timing isn’t right’ or a classic case of ‘I can’t do that’. Motivation is the defining factor that turns a good thought into immediate action. It turns a good idea into a business and can positively impact the world around you.<br>

Without motivation, you can’t achieve anything. There are no goal posts to aim for and no purpose to strive towards.<br>

Motivation is an important life skill. The reason it’s important is because every person on this earth is unique and has a purpose. To steward your purpose well, you have to be motivated to work towards your goals which helps your dreams become a reality. Not1 just for your sake, but the sake of others as well.</p>
					</header>
				</div>
			</section>



		<!-- Footer -->
			<footer id="footer">

			</footer>

		<!-- Scripts -->

			<script src="static/assets_about/js/jquery.min.js"></script>
			<script src="static/assets_about/js/jquery.poptrox.min.js"></script>
			<script src="static/assets_about/js/jquery.scrolly.min.js"></script>
			<script src="static/assets_about/js/jquery.scrollex.min.js"></script>
			<script src="static/assets_about/js/browser.min.js"></script>
			<script src="static/assets_about/js/breakpoints.min.js"></script>
			<script src="static/assets_about/js/util.js"></script>
			<script src="static/assets_about/js/main.js"></script>

	</body>
</html>