<!DOCTYPE HTML>
<html>
	<head>
		<title>Focus Mode</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets_index/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets_index/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">
				<!-- Header -->
					<header id="header">
						<h1>FOCUS Mode!</h1>
						<p><u>F</u>ollow <u>O</u>ne <u>C</u>ourse <u>U</u>ntil <u>S</u>uccess</p>
						<nav>
							<ul>
								<li><a href={{url_for('home')}} class="icon solid fa-home"></a></li>
								<li><a href={{url_for('about')}} class="icon solid fa-info"></a></li>
								<li><a href={{url_for('tasks')}} class="icon solid fa-tasks"></a></li>
								<li><a href={{url_for('motivation')}} class="icon solid fa-sun"></a></li>
								<li><a href="mailto:jasigraceit9@gmail.com" class="icon solid fa-envelope"></a></li>
							</ul>
						</nav>
					</header>
			</div>
		</div>
		<script>
			window.onload = function() { document.body.classList.remove('is-preload'); }
			window.ontouchmove = function() { return false; }
			window.onorientationchange = function() { document.body.scrollTop = 0; }
		</script>
	</body>
</html>
